@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
  }

  body{
    font-family: 'Poppins', serif;
    color: white;
    background-color: #10131C;
  }

  html{
    scroll-behavior: smooth;
    }


  #calcu-banner{
    padding: 20px;
    background-color: black;
  }

  #calcu-banner .calcu-intro .container h5{
    margin: 0;
    font-size: 25px;
    letter-spacing: 4px;
    text-shadow: 0px 10px 10px #928c8c;
  }




  /*calculator body*/

  #calcu-main .app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin-top: 100px;
    
  }

  .app{
    background-color: #212532;
    width: 100%;
    max-width: 375px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
  }


.app .main{
  height: auto;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.main .display{
  height:100px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #10131C;
  color: white;
}

.main .btn{
  background-color: #4e5d8f;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  box-shadow: rgb(0, 0, 0) 0px 4px 15px;
   width: 49px; 
  height: 49px; 
  font-weight: 500;
  color: white;
  transition: 0.5s ease;
}

.main .btn:hover{
  background-color: #3a466d;
}